<web-app>

<servlet>
<servlet-name>SessionTracker</servlet-name>
<servlet-class>SessionTracker</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SessionTracker</servlet-name>
<url-pattern>/SessionTracker</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HelloWorld</servlet-name>
<servlet-class>HelloWorld</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>HelloWorld</servlet-name>
<url-pattern>/HelloWorld</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FirstServlet</servlet-name>
<servlet-class>FirstServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FirstServlet</servlet-name>
<url-pattern>/FirstServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SecondServlet</servlet-name>
<servlet-class>SecondServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SecondServlet</servlet-name>
<url-pattern>/SecondServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CookieFirst</servlet-name>
<servlet-class>CookieFirst</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CookieFirst</servlet-name>
<url-pattern>/CookieFirst</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>CookieSecond</servlet-name>
<servlet-class>CookieSecond</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>CookieSecond</servlet-name>
<url-pattern>/CookieSecond</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>HiddenFormFirst</servlet-name>
<servlet-class>HiddenFormFirst</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>HiddenFormFirst</servlet-name>
<url-pattern>/HiddenFormFirst</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>HiddenFormSecond</servlet-name>
<servlet-class>HiddenFormSecond</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>HiddenFormSecond</servlet-name>
<url-pattern>/HiddenFormSecond</url-pattern>
</servlet-mapping>





</web-app>